@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #FFFBF2;
}

.game-container{
    width: 500px;
    height: 250px;
    border-radius: 8px;
    background-color: #BB9D5A;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content-container{
    display: flex;
}

.header{
    display: flex;
    margin-right: 0;
}

.header h1{
    flex: 1;
    text-align: center;
}

button{
    cursor: pointer;
}

.header button{
    height: 30px;
    flex: 0 0 30px;
    border-radius: 5px;
    margin: 7px 7px 0 0;
    border: none;
    font-weight: 700;
    background-color: transparent;
    font-size: 16px;
    color: rgba(255, 254, 253, 0.9);
}

.header button:hover{
    background-color: rgba(235, 64, 52);
}

.main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-weight: 700;
}

.main-content input{
    width: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.main-content .btn{
    width: 80px;
    padding: 8px 0;
    border: none;
    font-size: 20px;
    background-color: transparent;
    font-weight: 700;
}

.playerAvailableChoices{
    display: flex;
    gap: 12px;
}

.main-content img{
    width: 85px;
    height: 85px;
    border-radius: 50px;
}

.choicesText p{
    margin: 0;
}

.sideContent{
    padding: 15px;
    border: 1px solid black;
    border-right: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.sideContent p{
    font-size: 13px;
}

.sideContent h4{
    margin: 0;
}

.sideContent .continue{
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: #ebddbd;
}

.sideContent .continue:hover{
    transform: scale(1.04);
    transition: 0.6s;
}

.sideContent .roundResult{
    font-weight: 700;
    font-size: 16px;
}

.final-message{
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0;
    width: 80%;
    margin-left: auto; 
    margin-right: auto; 
    padding: 7px;
    background-color: #5f471a;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.final-message h3{
    margin: 0;
    color: white;
}

.final-message-btn{
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 14px;
    background-color: #5f471a;
    color: white;
    font-weight: 700;
}

.final-message-btn:hover{
    background-color: #5f4c29;
}

.activeImage:hover{
    cursor: pointer;
    transform: rotateZ(20deg);
    width: 81px;
    height: 81px;
    border: 2px solid white;
}

.disappear{
    display: none;
}

.wrongInputValue{
    background-color: rgba(235, 64, 52);
}

/*a{
    text-decoration: none;
    color: #FFFEFD;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 10px;
}*/